<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS_Retinal_Obliterator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <DS_Retinal_Obliterator.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BrightnessMin" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="BrightnessMax" serializeAs="String">
                <value>2.25</value>
            </setting>
            <setting name="ContrastMin" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="ContrastMax" serializeAs="String">
                <value>2.75</value>
            </setting>
            <setting name="SaturationMin" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="SaturationMax" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HueMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HueMax" serializeAs="String">
                <value>360</value>
            </setting>
        </DS_Retinal_Obliterator.Properties.Settings>
    </userSettings>
</configuration>
